(
.notdef,
space,
"hamza-ar",
"hamza-ar.01.01",
"hamza-ar.01.02",
"alef-ar",
"alef-ar.02.00",
"alef-ar.01.01",
"alef-ar.01.02",
"alef-ar.01.03",
"alef-ar.01.04",
"alef-ar.01.05",
"alef-ar.01.06",
"alef-ar.01.07",
"alef-ar.01.08",
"alef-ar.01.09",
"alef-ar.02.01",
"alef-ar.02.02",
"alef-ar.02.03",
"alef-ar.02.04",
"alef-ar.02.05",
"alef-ar.02.06",
"alef-ar.02.07",
"alef-ar.02.08",
"alef-ar.02.09",
"alef-ar.02.10",
"alef-ar.02.11",
"alef-ar.02.12",
"alef-ar.02.13",
"alef-ar.02.14",
"alef-ar.02.15",
"alef-ar.02.16",
"alef-ar.02.17",
"alef-ar.02.18",
"alef-ar.02.19",
"alef-ar.02.20",
"alef-ar.02.21",
"alef-ar.02.22",
"alef-ar.02.23",
"alef-ar.02.24",
"alef-ar.02.25",
"alef-ar.02.26",
"alef-ar.02.27",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"behDotless-ar",
"behDotless-ar.low",
"behDotless-ar.init",
"behDotless-ar.init.behHah",
"behDotless-ar.init.behHeh",
"behDotless-ar.init.low",
"beh-ar",
"teh-ar",
"theh-ar",
"jeem-ar",
"hah-ar",
"hah-ar.01.01",
"hah-ar.01.02",
"hah-ar.01.03",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.medi.01.01",
"hah-ar.medi.01.02",
"hah-ar.medi.01.03",
"hah-ar.medi.01.04",
"hah-ar.medi.01.05",
"hah-ar.init",
"hah-ar.init.01.01",
"hah-ar.init.01.02",
"hah-ar.init.01.03",
"hah-ar.init.01.04",
"hah-ar.init.01.05",
"hah-ar.init.narrow",
"khah-ar",
"dal-ar",
"dal-ar.02.00",
"dal-ar.03.00",
"dal-ar.04.00",
"dal-ar.05.00",
"dal-ar.06.00",
"dal-ar.07.00",
"dal-ar.08.00",
"thal-ar",
"reh-ar",
"reh-ar.01.01",
"reh-ar.fina",
"reh-ar.fina.01.01",
"reh-ar.fina.seen",
"zain-ar",
"seen-ar",
"seen-ar.01.01",
"seen-ar.01.02",
"seen-ar.01.3",
"seen-ar.init",
"seen-ar.init.02.00",
"seen-ar.init.01.01",
"seen-ar.init.01.02",
"seen-ar.init.01.03",
"seen-ar.init.01.04",
"seen-ar.init.01.05",
"seen-ar.init.01.06",
"seen-ar.init.01.07",
"seen-ar.init.01.08",
"sheen-ar",
"sad-ar",
"sad-ar.init",
"dad-ar",
"tah-ar",
"tah-ar.02.00",
"tah-ar.init",
"tah-ar.init.02.00",
"zah-ar",
"ain-ar",
"ain-ar.fina",
"ain-ar.fina.01.01",
"ain-ar.medi",
"ain-ar.medi.01.01",
"ain-ar.medi.01.02",
"ain-ar.medi.01.03",
"ain-ar.medi.01.04",
"ain-ar.medi.01.05",
"ain-ar.init",
"ghain-ar",
"feh-ar",
"fehDotless-ar",
"fehDotless-ar.medi",
"fehDotless-ar.medi.01.91",
"fehDotless-ar.medi.01.92",
"fehDotless-ar.medi.01.93",
"fehDotless-ar.init",
"qafDotless-ar",
"qaf-ar",
"kaf-ar",
"kaf-ar.02.00",
"kaf-ar.03.00",
"kaf-ar.04.00",
"kaf-ar.05.00",
"kaf-ar.06.00",
"kaf-ar.init",
"kaf-ar.init.02.00",
"kaf-ar.init.03.00",
"kaf-ar.init.04.00",
"kaf-ar.init.05.00",
"kaf-ar.init.06.00",
"lam-ar",
"lam-ar.02.00",
"lam-ar.03.00",
"lam-ar.init",
"lam-ar.init.02.00",
"lam-ar.init.03.00",
"lam-ar.init.04.00",
"lam-ar.init.05.00",
"lam-ar.init.06.00",
"lam-ar.init.07.00",
"lam-ar.init.08.00",
"lam-ar.init.09.00",
"lam-ar.init.10.00",
"lam-ar.init.short",
"lam-ar.init.short.01.01",
"lam-ar.init.short.wide",
"lam-ar.init.short.wide.01.01",
"lam-ar.init.short.wide.01.02",
"lam-ar.init.short.wide.01.03",
"meem-ar",
"meem-ar.01.01",
"meem-ar.01.02",
"meem-ar.01.03",
"meem-ar.01.04",
"meem-ar.fina",
"meem-ar.fina.01.01",
"meem-ar.fina.01.02",
"meem-ar.fina.01.03",
"meem-ar.fina.01.04",
"meem-ar.medi",
"meem-ar.medi.01.01",
"meem-ar.medi.01.02",
"meem-ar.medi.01.03",
"meem-ar.medi.01.04",
"meem-ar.init",
"meem-ar.init.01.01",
"meem-ar.init.01.02",
"meem-ar.init.01.03",
"noon-ar",
"noonghunna-ar",
"noonghunna-ar.01.01",
"noonghunna-ar.01.02",
"noonghunna-ar.01.03",
"noonghunna-ar.01.04",
"noonghunna-ar.fina",
"noonghunna-ar.fina.01.01",
"noonghunna-ar.fina.01.02",
"noonghunna-ar.fina.01.03",
"noonghunna-ar.fina.01.04",
"heh-ar",
"heh-ar.02.00",
"heh-ar.01.01",
"heh-ar.01.02",
"heh-ar.01.03",
"heh-ar.01.04",
"heh-ar.medi",
"heh-ar.medi.02.00",
"heh-ar.medi.01.01",
"heh-ar.medi.01.02",
"heh-ar.medi.01.03",
"heh-ar.medi.02.01",
"heh-ar.medi.02.02",
"heh-ar.medi.02.03",
"heh-ar.medi.02.04",
"heh-ar.medi.02.05",
"heh-ar.medi.behHeh",
"heh-ar.init",
"heh-ar.init.02.00",
"heh-ar.init.01.01",
"heh-ar.init.01.02",
"heh-ar.init.01.03",
"heh-ar.init.02.01",
"heh-ar.init.02.02",
"tehMarbuta-ar",
"waw-ar",
"waw-ar.01.01",
"waw-ar.01.02",
"wawHamzaabove-ar",
"alefMaksura-ar",
"alefMaksura-ar.01.01",
"alefMaksura-ar.01.02",
"alefMaksura-ar.01.03",
"alefMaksura-ar.01.04",
"alefMaksura-ar.01.05",
"alefMaksura-ar.01.06",
"alefMaksura-ar.01.07",
"alefMaksura-ar.01.08",
"alefMaksura-ar.01.09",
"alefMaksura-ar.01.10",
"alefMaksura-ar.01.11",
"alefMaksura-ar.01.12",
"alefMaksura-ar.01.13",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.01.01",
"alefMaksura-ar.fina.01.02",
"alefMaksura-ar.fina.01.03",
"alefMaksura-ar.fina.01.04",
"alefMaksura-ar.fina.01.05",
"alefMaksura-ar.fina.01.06",
"alefMaksura-ar.fina.01.07",
"alefMaksura-ar.fina.01.08",
"alefMaksura-ar.fina.01.09",
"alefMaksura-ar.fina.01.10",
"alefMaksura-ar.fina.01.11",
"alefMaksura-ar.fina.01.12",
"alefMaksura-ar.fina.01.13",
"yeh-ar",
"yehHamzaabove-ar",
"yeh-farsi",
"kashida-ar",
"kashida-ar.10",
"alef_lam-ar.init.dlig",
"alef_lam-ar.init.dlig.02.00",
"alef_lam-ar.init.dlig.03.00",
"alef_lam-ar.init.dlig.04.00",
"alef_lam-ar.init.dlig.05.00",
"alef_lam-ar.init.dlig.06.00",
"alef_lam-ar.init.short.dlig",
"alef_lam-ar.init.short.dlig.02.00",
"alef_lam-ar.init.short.dlig.03.00",
"alef_lam-ar.init.short.dlig.04.00",
"alef_lam-ar.init.short.dlig.05.00",
"alef_lam-ar.init.short.dlig.06.00",
"alef_lam_lam_heh-ar.liga",
"alef_lam_lam_heh-ar.liga.01.01",
"alef_lam_lam_heh-ar.liga.01.02",
"lam_alef-ar.liga",
"lam_alef-ar.fina.liga",
"lam_alef-ar.fina.liga.01.01",
"lam_alef-ar.fina.liga.01.02",
"lam_alef-ar.fina.liga.01.03",
"lam_alef-ar.fina.liga.01.04",
"lam_alef-ar.fina.liga.01.05",
"lam_alef-ar.fina.liga.01.06",
"lam_alef-ar.fina.liga.01.07",
"lam_alef-ar.fina.liga.01.08",
"lam_alef-ar.fina.liga.01.09",
"lam_alef-ar.liga.01.01",
"lam_alef-ar.liga.01.02",
"lam_alef-ar.liga.01.03",
"lam_alef-ar.liga.01.04",
"lam_alef-ar.liga.01.05",
"lam_alef-ar.liga.01.06",
"lam_alef-ar.liga.01.07",
"lam_alef-ar.liga.01.08",
"lam_alef-ar.liga.01.09",
"endofayah-ar",
"-aleflam",
"-aleflam.01",
"-aleflam.02",
"-beh",
"-beh.01",
"-beh.02",
"-beh.03",
"-beh.04",
"-dal",
"-dal.01",
"-dal.02",
"-dal.03",
"-dal.04",
"-dal.05",
"-dal.06",
"-dal.07",
"-dal.08",
"-dal.09",
"-dal.10",
"-dal.11",
"-dal.12",
"-dal.13",
"-dal.14",
"-dal.15",
"-dal.16",
"-dal.17",
"-dal.18",
"-dal.19",
"-dal.20",
"-dal.21",
"-dal.22",
"-dal.23",
"-dal.24",
"-dal.25",
"-dal.26",
"-dal.27",
"-kaf",
"-kaf.01",
"-kaf.02",
"-kaf.03",
"-kaf.04",
"-kaf.05",
"-kaf.06",
"-kaf.07",
"-kaf.08",
"-kaf.09",
"-kaf.10",
"-kaf.11",
"-kaf.12",
"-kaf.13",
"-kaf.14",
"-kaf.15",
"-kaf.16",
"-kaf.17",
"-kaf.18",
"-kaf.19",
"-kaf.20",
"-kaf.21",
"-kaf.22",
"-kaf.23",
"-kaf.24",
"-kaf.25",
"-kaf.26",
"-kaf.27",
"-lam",
"-lam.01",
"-lam.02",
"-lam.03",
"-lam.04",
"-lam.05",
_dal.top1,
_dal.top2,
_dal.top3,
_deco.01,
_deco.02,
_deco.04,
_deco.05,
_deco.06,
_deco.07,
_deco.07.short,
_deco.09,
_deco.09.short,
_deco.10,
_deco.11,
_deco.12,
_deco.13,
_deco.14,
_deco.15,
_elbow.1,
_elbow.2,
_elbow.3,
_elbow.4,
_elbow.5,
_hah.part.04,
_hah.part.05,
_head,
_kaf.top1,
_kaf.top2,
_kaf.top3,
_kaf.top4,
_meem.01,
_meem.02,
_zuluf100,
_zuluf150,
"dotabove-ar",
"dotabove-ar.small",
"dotbelow-ar",
"dotbelow-ar.small",
"dotcenter-ar",
"dotcenter-ar.small",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.small",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.small",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow-ar.small",
"threedotsupabove-ar",
"threedotsupabove-ar.small",
"hamzaabove-ar",
"hamzabelow-ar",
space.mark
)